@import url("//cdn.web-fonts.ge/fonts/alk-rounded-nusx-med/css/alk-rounded-nusx-med.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.content {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
}

.input {
  border-radius: 10px;
  border: 2px solid #E5E5ED;
  padding-left: 20px;
  color: #171D25;
  font-size: 16px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  color: #696974;
  font-size: 16px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
.input:-ms-input-placeholder {
  color: #696974;
  font-size: 16px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
.input::placeholder {
  color: #696974;
  font-size: 16px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  background-color: #FAFAFB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  max-width: 1920px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 0px 50px;
}
header .content {
  padding-top: 28px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
header .content .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
header .content .right .cart,
header .content .right .bell,
header .content .right .user,
header .content .right .flag {
  height: 46px;
  width: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F1F1F5;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
header .content .right .user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 160px;
  gap: 15px;
}
header .content .right .user p {
  font-family: "Roboto", sans-serif;
  color: #696974;
}
header .content .right .cart {
  position: relative;
}
header .content .right .cart p {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  background-color: #FF4D4D;
  border-radius: 11px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  color: white;
}

.header_mobile {
  display: none;
}

@media (max-width: 703px) {
  header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .header_desktop {
    display: none;
  }
  .header_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 28px;
    gap: 10px;
  }
  .header_mobile .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .header_mobile .left {
    height: 16px;
    gap: 14px;
  }
  .header_mobile .left img {
    display: inline-block;
    vertical-align: top;
  }
  .header_mobile .left .logo {
    width: 120px;
    margin-left: 14px;
  }
  .header_mobile .right {
    gap: 23px;
  }
}
.nav_desktop {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  width: 100%;
  max-width: 1920px;
  padding-left: 50px;
  padding-right: 50px;
}
.nav_desktop .content {
  padding: 19px 0px 23px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.nav_desktop .content div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 29px;
}
.nav_desktop .content div ul li {
  color: #696974;
  font-size: 16px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  cursor: pointer;
}

@media (max-width: 1126px) {
  .nav_desktop .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .nav_desktop {
    display: none;
  }
}
main {
  width: 100%;
  max-width: 1920px;
  padding-top: 30px;
  box-sizing: border-box;
}
main .banner {
  width: 100%;
  max-width: 1286px;
  height: 180px;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
main .banner img {
  width: 1286px;
  height: 100%;
}
main .banner div {
  width: 1286px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  position: absolute;
}
main .banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: white;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
}
main .products {
  margin-top: 40px;
  padding: 0px 50px;
}
main .products .content_desktop {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
}
main .products .content_desktop .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
main .products .content_desktop .top .domenebiMarketze {
  color: #696974;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
main .products .content_desktop .top .domenebiMarketze span {
  font-weight: bold;
  color: black;
  font-size: 16px;
}
main .products .content_desktop .top .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  font-size: 14px;
  color: #696974;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
main .products .content_desktop .top .sort .sorters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}
main .products .content_desktop .top .sort .sorters .activeSort {
  color: #99CC66;
}
main .products .content_desktop .top .sort .sorters p {
  cursor: pointer;
}
main .products .content_desktop .top .sort .sorters .date p {
  margin-left: 5px;
}
main .products .content_desktop .top .sort .sortireba {
  font-weight: bold;
  color: black;
}
main .products .content_desktop .top .sellDomain {
  color: #171725;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
main .products .content_desktop .middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
main .products .content_desktop .middle .left {
  width: 30%;
  max-width: 380px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 35px 35px 35px 30px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #F1F1F5;
}
main .products .content_desktop .middle .left .search {
  width: 100%;
  height: 60px;
}
main .products .content_desktop .middle .left .boldBlack {
  color: #171D25;
  font-size: 16px;
  font-weight: bold;
}
main .products .content_desktop .middle .left .price {
  margin-top: 35px;
}
main .products .content_desktop .middle .left .priceRange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-top: 15px;
  width: 100%;
}
main .products .content_desktop .middle .left .priceRange input {
  width: 45%;
  height: 44px;
  border: 2px solid #E5E5ED;
  box-sizing: border-box;
  padding-right: 15px;
}
main .products .content_desktop .middle .left .priceRange input::-moz-placeholder {
  text-align: right;
}
main .products .content_desktop .middle .left .priceRange input:-ms-input-placeholder {
  text-align: right;
}
main .products .content_desktop .middle .left .priceRange input::placeholder {
  text-align: right;
}
main .products .content_desktop .middle .left .priceRangeInp {
  position: relative;
  margin-top: 20px;
  height: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .products .content_desktop .middle .left .priceRangeInp .bar {
  width: 315px;
  height: 2px;
  background: linear-gradient(to right, #696974, #99CC66 0%);
}
main .products .content_desktop .middle .left .priceRangeInp .min,
main .products .content_desktop .middle .left .priceRangeInp .max {
  width: 25px;
  height: 25px;
  border: 2px solid #99CC66;
  color: #99CC66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  cursor: -webkit-grab;
  cursor: grab;
}
main .products .content_desktop .middle .left .priceRangeInp .min p,
main .products .content_desktop .middle .left .priceRangeInp .max p {
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-right: -2px;
  margin-top: -2px;
  box-sizing: border-box;
  text-align: center;
}
main .products .content_desktop .middle .left .priceRangeInp .min {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
main .products .content_desktop .middle .left .priceRangeInp .max {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
main .products .content_desktop .middle .left .domainZone {
  margin-top: 45px;
}
main .products .content_desktop .middle .right {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 886px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #F1F1F5;
  padding: 0px 40px 0px 40px;
}

label {
  cursor: pointer;
  color: #171D25;
  font-size: 16px;
  font-weight: 600;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
}

input[type=checkbox] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  accent-color: #99CC66;
  border: 1px solid #696974 !important;
}

.cardModel {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #F1F1F5;
}
.cardModel .leftCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cardModel .leftCard img {
  width: 36px;
  cursor: pointer;
}
.cardModel .leftCard p {
  font-size: 16px;
  color: #171D25;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.cardModel .rightCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.cardModel .rightCard div .gel {
  color: #171D25;
  font-size: 16px;
  font-weight: bold;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  margin-top: 4px;
}
.cardModel .rightCard div .usd {
  color: #696974;
  font-size: 12px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  margin-top: 4px;
}
.cardModel .rightCard img {
  padding: 10px;
  background-color: #99CC66;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 910px) {
  .middle .left {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;
    max-width: none !important;
    gap: 30px;
  }
  .middle .left div {
    max-width: 360px;
    min-width: 150px;
  }
  .middle .left .max, .middle .left .min {
    max-width: 25px;
    min-width: 0px;
  }
  .middle .right {
    margin-top: 20px;
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  main {
    padding-top: 0px;
  }
  .banner {
    border-radius: 0px !important;
    height: 120px !important;
  }
  .banner img {
    border-radius: 0px;
  }
  .banner p {
    width: 170px !important;
    line-height: 30px !important;
    font-size: 20px !important;
  }
  .banner div {
    border-radius: 0px;
  }
}/*# sourceMappingURL=style.css.map */