// Fonts
@import url("//cdn.web-fonts.ge/fonts/alk-rounded-nusx-med/css/alk-rounded-nusx-med.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin fontGE {
    font-family: "ALK Rounded Nusx Med", sans-serif;
}

@mixin fontEN {
    font-family: 'Roboto', sans-serif;
}

// GLOBAL MIXINS
@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    max-width: 1286px;
    width: 100%;
    margin: 0 auto;
}

// COLORS
$grey: #696974;
//Variables
$content: 1286px;

// Container
.container {
    width: 100%;
    background-color: #FAFAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Header
header {
    width: 100%;
    max-width: 1920px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    padding: 0px 50px;

    .content {
        padding-top: 28px;
        padding-bottom: 20px;
        @include between();
        gap: 50px;

        .right {
            @include between();
            gap: 20px;

            .cart,
            .bell,
            .user,
            .flag {
                height: 46px;
                width: 50px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #F1F1F5;
                border-radius: 12px;
                @include center();
                cursor: pointer;
            }

            .user {
                @include center();
                width: 160px;
                gap: 15px;

                p {
                    @include fontEN();
                    color: $grey;
                }
            }

            .cart {
                position: relative;

                p {
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    width: 20px;
                    height: 20px;
                    background-color: #FF4D4D;
                    border-radius: 11px;
                    opacity: 1;
                    @include center();
                    font-weight: bold;
                    color: white;
                }
            }

        }
    }
}

.header_mobile {
    display: none;
}

// RESPONSIVE FOR HEADER
@media (max-width:703px) {
    header {
        .content {
            @include center();
        }
    }
}

@media (max-width:480px) {
    .header_desktop {
        display: none;
    }

    .header_mobile {
        @include between();
        padding: 28px;
        gap: 10px;

        .right {
            @include center();
        }

        .left {
            height: 16px;
            gap: 14px;

            img {
                display: inline-block;
                vertical-align: top;
            }

            .logo {
                width: 120px;
                margin-left: 14px;
            }
        }

        .right {
            gap: 23px;
        }
    }
}

// Navigation 
.nav_desktop {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    width: 100%;
    max-width: 1920px;
    padding-left: 50px;
    padding-right: 50px;

    .content {
        padding: 19px 0px 23px 0px;
        @include between();
        gap: 50px;

        div {
            ul {
                @include between();
                gap: 29px;

                li {
                    color: $grey;
                    font-size: 16px;
                    @include fontGE();
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:1126px) {
    .nav_desktop {
        .content {
            @include center()
        }
    }
}

@media (max-width:480px) {
    .nav_desktop {
        display: none;
    }
}

// Main
main {
    width: 100%;
    max-width: 1920px;
    padding-top: 30px;
    box-sizing: border-box;

    .banner {
        width: 100%;
        max-width: $content;
        height: 180px;
        border-radius: 15px;
        margin: 0 auto;
        @include center();
        position: relative;
        overflow: hidden;

        img {
            width: 1286px;
            height: 100%;
        }

        div {
            width: 1286px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.26);
            border-radius: 15px;
            position: absolute;
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            text-align: center;
            color: white;
            @include fontGE();
            font-weight: 500;
            font-size: 36px;
            line-height: 50px;
        }
    }

    .products {
        margin-top: 40px;

        .content_desktop {
            max-width: 1286px;
            width: 100%;
            margin: 0 auto;
            padding: 0px 50px;
            .top {
                @include between();
                gap: 50px;
                .domenebiMarketze {
                    color: $grey;
                    @include fontGE();
                    font-size: 16px;
                    font-weight: bold;

                    span {
                        font-weight: bold;
                        color: black;
                        font-size: 16px;
                    }
                }

                .sort {
                    @include between();
                    gap: 18px;
                    font-size: 14px;
                    color: $grey;
                    @include fontGE();

                    .sorters {
                        @include between();
                        gap: 18px;

                        .activeSort {
                            color: #99CC66;
                        }

                        p {
                            cursor: pointer;
                        }

                        .date {
                            p {
                                margin-left: 5px;
                            }
                        }
                    }

                    .sortireba {
                        font-weight: bold;
                        color: black;
                    }
                }

                .sellDomain {
                    color: #171725;
                    text-decoration: underline;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:480px) {
    main {
        padding-top: 0px;
    }

    .banner {
        border-radius: 0px !important;
        height: 120px !important;

        img {
            border-radius: 0px;
        }

        p {
            width: 170px !important;
            line-height: 30px !important;
            font-size: 20px !important;
        }

        div {
            border-radius: 0px;
        }
    }

}